body {
    background-image: url("../images/darthMal_bg.jpg");
    background-color:  black;
    background-repeat: no-repeat;
    background-size: cover;
}

.player {
    color:white;
}

#userSelectedMsg {
    font-family: 'VT323', monospace;
    font-size: 24px;
    color: darkred;
}

.selectEnemyMsg {
    font-family: 'VT323', monospace;
    font-size: 24px;
    color: darkgrey;
}

.enemyDefeated {
    visibility: hidden;
    
}
